<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.BYDAUTO_INSTRUMENT_COMMON" />

    <permission android:name="com.andrerinas.openheadunit.permission.NAVIGATION_UPDATE" tools:node="remove" />
    <permission android:name="${applicationId}.permission.NAVIGATION_UPDATE" android:protectionLevel="signature" />
    <uses-permission android:name="com.byd.car.server.PROVIDER" />
    <queries><provider android:authorities="com.byd.car.server.provider.CarServiceProvider" /></queries>
    <queries><package android:name="com.byd.clusterdebug" /></queries>
    <application android:label="DiAuto Pro" tools:replace="android:label">
        <receiver android:name="com.andrerinas.openheadunit.hud.HudStatusReceiver" android:exported="true" android:permission="android.permission.DUMP" />
        <activity android:name="com.andrerinas.openheadunit.hud.StandaloneHudDemoActivity" android:exported="true" android:permission="android.permission.DUMP" />
    </application>
</manifest>
